Lectura de la informacion

In [1]:
import pandas as pd
from rarfile import RarFile

In [3]:
df = pd.read_csv('data/20220302_Rendimiento_2021_20220131_WEB.csv', sep=';')

/tmp/ipykernel_27036/3228957624.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/20220302_Rendimiento_2021_20220131_WEB.csv', sep=';')

In [8]:
df[df["MRUN"] == 26527274]

Empty DataFrame
Columns: [AGNO, RBD, DGV_RBD, NOM_RBD, COD_REG_RBD, NOM_REG_RBD_A, COD_PRO_RBD, COD_COM_RBD, NOM_COM_RBD, COD_DEPROV_RBD, NOM_DEPROV_RBD, COD_DEPE, COD_DEPE2, RURAL_RBD, ESTADO_ESTAB, COD_ENSE, COD_ENSE2, COD_GRADO, LET_CUR, COD_JOR, COD_TIP_CUR, COD_DES_CUR, MRUN, GEN_ALU, FEC_NAC_ALU, EDAD_ALU, COD_REG_ALU, COD_COM_ALU, NOM_COM_ALU, COD_RAMA, COD_SEC, COD_ESPE, PROM_GRAL, ASISTENCIA, SIT_FIN, SIT_FIN_R, COD_MEN]
Index: []

[0 rows x 37 columns]

In [2]:
# Lectura del dataset

with RarFile("data/20230209_Rendimiento_2022_20230131_WEB.rar", "r") as rf:
    with rf.open("20230209_Rendimiento_2022_20230131_WEB.csv") as data:
        df = pd.read_csv(data, sep='\t', header=None)

df = df[0].str.split(";", expand=True)
df.columns = df.iloc[0]
df.drop(0, inplace=True)

In [3]:
df["PROM_GRAL"] = df["PROM_GRAL"].str.replace(",", ".").astype(float)

In [4]:
df = df.loc[df["PROM_GRAL"] != 0]
df

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,COD_COM_ALU,NOM_COM_ALU,COD_RAMA,COD_SEC,COD_ESPE,PROM_GRAL,ASISTENCIA,SIT_FIN,SIT_FIN_R,COD_MEN
1,2022,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,6.6,98,P,P,0
7,2022,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,6.2,85,P,P,0
10,2022,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,6.3,86,P,P,0
15,2022,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,6.3,100,P,P,0
16,2022,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,6.7,100,P,P,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3405080,2022,42081,6,ESCUELA HOSPITALARIA SANTA CRUZ,6,LGBO,63,6310,SANTA CRUZ,62,...,6304,LOLOL,0,0,0,6.0,85,P,P,0
3405082,2022,42081,6,ESCUELA HOSPITALARIA SANTA CRUZ,6,LGBO,63,6310,SANTA CRUZ,62,...,6105,DOÑIHUE,0,0,0,6.6,90,P,P,0
3405085,2022,42081,6,ESCUELA HOSPITALARIA SANTA CRUZ,6,LGBO,63,6310,SANTA CRUZ,62,...,6310,SANTA CRUZ,0,0,0,6.9,90,P,P,0
3405089,2022,42081,6,ESCUELA HOSPITALARIA SANTA CRUZ,6,LGBO,63,6310,SANTA CRUZ,62,...,6310,SANTA CRUZ,0,0,0,6.4,90,P,P,0
3405091,2022,42130,8,ESCUELA HOSPITALARIA PROVINCIA CORDILLERA PUEN...,13,RM,132,13201,PUENTE ALTO,136,...,13201,PUENTE ALTO,0,0,0,6.5,100,,,0

In [5]:
col = df.groupby("NOM_RBD").agg({"PROM_GRAL": "mean", "COD_REG_RBD": "first", "NOM_REG_RBD_A" : "first"})

In [6]:
prom_colegio = col

In [7]:
prom_colegio

0                                   PROM_GRAL COD_REG_RBD NOM_REG_RBD_A
NOM_RBD
ABRAHAM LINCOLN MEMORIAL COLLEGE     6.125506           5         VALPO
ABRAHAM LINCOLN SCHOOL               6.450000          15           AYP
ACADEMIA HOSPICIO                    6.052914           1          TPCA
ACADEMIA IQUIQUE                     6.598551           1          TPCA
ACADEMIA NERUDIANA                   5.822156           1          TPCA
...                                       ...         ...           ...
VINA DEL MAR COLLEGE                 6.087597           5         VALPO
VIOLETA FUENTES CARVAJAL             6.270330           6          LGBO
WEXFORD COLLEGE N 2                  5.830303          13            RM
WINDMILL COLLEGE                     6.105385           5         VALPO
YIRE LICEO POLITECNICO DE COIHUECO   6.137416          16         NUBLE

[8231 rows x 3 columns]

In [8]:
import pandas as pd

# Crear un DataFrame de ejemplo
data = {'Comuna': ['Comuna1', 'Comuna2', 'Comuna1', 'Comuna3', 'Comuna2'],
        'NombreAlumno': ['Juan', 'María', 'Pedro', 'Ana', 'Carlos'],
        'Edad': [20, 21, 22, 20, 22],
        'Promedio': [7.5, 8.0, 6.8, 7.2, 8.5]}
df = pd.DataFrame(data)

# Usar groupby para agrupar por la columna "Comuna"
grupos_por_comuna = df.groupby('Comuna')

# Definir una función personalizada para seleccionar columnas de importancia
def seleccionar_columnas_de_importancia(grupo):
    return grupo[['NombreAlumno', 'Edad']]

# Aplicar la función personalizada a cada grupo
df_con_columnas_de_importancia = grupos_por_comuna.apply(seleccionar_columnas_de_importancia)

# Reiniciar el índice para obtener un DataFrame plano
df_con_columnas_de_importancia.reset_index(drop=True, inplace=True)

print(df_con_columnas_de_importancia)

  NombreAlumno  Edad
0         Juan    20
1        Pedro    22
2        María    21
3       Carlos    22
4          Ana    20